################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quest_PDF_Testing/.vs
/hello.pdf
/hello_MC.pdf
/hello_TestItems_V1.pdf
/hello_TestItems_V2.pdf
/hello_TestItems_V3.pdf
/hello_TestItems_V5.pdf
/Quest_PDF_Testing/bin/Debug/net10.0/Quest_PDF_Testing.dll
/Quest_PDF_Testing/bin/Debug/net10.0/Quest_PDF_Testing.exe
/Quest_PDF_Testing/bin/Debug/net10.0/Quest_PDF_Testing.pdb
/Quest_PDF_Testing/obj/Debug/net10.0/ref/Quest_PDF_Testing.dll
/Quest_PDF_Testing/obj/Debug/net10.0/refint/Quest_PDF_Testing.dll
/Quest_PDF_Testing/obj/Debug/net10.0/apphost.exe
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.AssemblyInfo.cs
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.AssemblyInfoInputs.cache
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.csproj.CoreCompileInputs.cache
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.dll
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.pdb
/Quest_PDF_Testing/obj/Debug/net10.0/Quest_PDF_Testing.sourcelink.json
